@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
$black: #0f0f0f;
$blue: #222222;
$white: white;

.yt{
    min-height: 500px;
    background: $black;
    h3{
        margin-top: 0;
    }
    .yt__allcontainer{
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 1450px;
        margin-left: auto;
        margin-right: auto;
        grid-auto-rows: auto;
        justify-content: space-between;
        
        align-items: baseline;
        .yt__container:nth-child(odd){
            align-items: flex-start;
            justify-content: flex-start;
        }
        .yt__container:nth-child(even){
            align-items: flex-end;
            justify-content: flex-end;
            .yt__iframe{
                display: flex;
    justify-content: flex-end;
    align-items: flex-end;
            }
        }

       .yt__iframe{
           height: 100%;
           width: 100%;
           position: relative;
           z-index: 9;
           display: flex;
           margin-bottom: 15px;
           iframe{
            position: relative;
            z-index: 9;
            width: 650px;
            height: 367.23px
           }
       }
    }
    
    .yt__container{
        display: flex;
        justify-content: space-around;
        
        flex-direction: column;
        
        padding-top: 20px;
        padding-bottom: 20px;
        .yt__describe{
            
            line-height: 1.2;
            text-align: left;
            width: 650px;
            
            box-sizing: border-box;
            display: flex;
    flex-direction: column;
    justify-content: space-between;
        }
            .yt__tag{
                margin-top: 40px;
                display: flex;
                padding-top: 10px;
                padding: 15px;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
                .tag{
                    padding: 2px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    
                    }
                    .tag:hover{
                        color: rgb(150, 150, 150);
                        cursor: pointer;
                }
                
                
            }
        }

        }

        
        .yt__tags{
            transition: opacity 0.3s ease, max-height 0.4s ease;
            opacity: 1;
            max-height: 0px;
            height: 200px;
            background: $black;
            font-size: 0.8em;
            display: none;
            box-sizing: border-box;
            grid-template-columns: repeat(10,auto);
            grid-auto-rows: 40px;
            justify-content: space-between;
            
            grid-gap: 20px;
            color: $white;
            background: $black;
            font-family: 'Jost', sans-serif;
            max-width: 1450px;
            margin-left: auto;
            margin-right: auto;
            .activetag{
                color: black;
                background-color: white;
            }
            button{
                
                background: transparent;
                font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
                border: none;
                outline: none;
                font-weight: 300;
                font-family: 'Jost', sans-serif;
                cursor: pointer;
                transition: all .3s ease;
                color: white;
                border: 1px solid white;
                // border-radius: 30px;
                
                span{
                    font-size: 0.9em;
                    
                    padding-left: 5px;
                    font-weight: 300;
                }
                }
                button:hover{
                    color: gray;
                }
               
            
            
            
            
}
.yt__buttontagback{
    background: transparent;
    font-size: 26px;
padding-left: 30px;
padding-right: 30px;
    border: none;
    outline: none;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    transition: all .3s ease;
    color: white;
    border: 1px solid white;
  
}

.showtag{
   background: transparent;
                font-size: 38px;
    padding-left: 20px;
    padding-right: 20px;
                border: none;
                outline: none;
                font-weight: 300;
                font-family: 'Abril Fatface', cursive;
                cursor: pointer;
                transition: all .3s ease;
                color: white;
                
                display: flex;
                width: 120px;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-right: auto;
                margin-left: auto;
                margin-top: 30px;
                margin-bottom: 30px;
                .showtag__img{
                    height: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    transform: translate(5px, 3px) rotateX(0deg);
                    transition: all .3s ease;
                    transform-origin: center;
                }
                .showtag__img.active{
                    
                    transform: translate(5px, 3px) rotateX(180deg);
                }
}

@media(max-width:1450px) {
    .yt{

        .yt__allcontainer{
            grid-template-columns: 600px 600px;
            justify-content: space-around;
            .yt__iframe{
                
                iframe{
                
                    width: 600px;
                    height: 337.45px
                   } 
            }
        }
        .yt__container{
            max-width: 600px;
            
            .yt__describe{
                max-width: 600px;
            }
        }
    }
    
            
            .yt__tags{
                
                
                grid-template-columns: repeat(8,auto);
                grid-auto-rows: 50px;
                justify-content: space-between;
                padding: 15px;
                grid-gap: 10px;
                
                
                
                button{
                    
                    background: transparent;
                    font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
                    
                    }
                } 
                
                
                
}
@media(max-width:1250px) {
    .yt{

        .yt__allcontainer{
            grid-template-columns: 600px;
            justify-content: center;
            .yt__iframe{
                iframe{
                    height: 337.45px;
                }
            }
        }
        
    }
    .yt__tags{
                
        
        grid-template-columns: repeat(6,auto);
        grid-auto-rows: 50px;
        justify-content: space-between;
        
        
    }
    }
    @media(max-width:1000px) {
        .yt{

            .yt__allcontainer{
                grid-template-columns: 550px;
                .yt__describe{
                    max-width: 550px;
                    font-size: 0.95em;
                    .yt__tag{
                        border-top: 1.7px solid white;
                        border-bottom: 1.7px solid white;
                    }
                }
                .yt__iframe{
                    iframe{
                        height: 310px;
                    }}
            }
        
        }
        .yt__tags{
                    
            
            grid-template-columns: repeat(5,auto);
            grid-auto-rows: 50px;
            justify-content: space-between;
            padding: 10px;
        }
        
        }
        @media(max-width: 800px) {
            .yt{

                .yt__allcontainer{
                    grid-template-columns: 450px;
                    .yt__describe{
                        max-width: 450px;
                        font-size: 0.85em;
                    }
                    .yt__iframe{
                        iframe{
                            height: 254px;
                        }}
                }
            
            }
            .yt__tags{
                        
                
                grid-template-columns: repeat(4,auto);
                grid-auto-rows: 45px;
                padding: 10px;
                button{
                    
                    background: transparent;
                    font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
                    
                    }
            }
            }
            @media(max-width: 500px) {
                .yt{

                    .yt__allcontainer{
                        grid-template-columns: 380px;
                        .yt__describe{
                            max-width: 380px;
                            font-size: 0.80em;
                        }
                        .yt__iframe{
                        iframe{
                            height: 213px;
                        }}
                    }
                
                }
                .yt__tags{
                    grid-template-columns: repeat(3,auto);
                            max-width: 380px;
                    grid-auto-rows: 40px;
                    padding: 0px;
                    button{
                        
                        background: transparent;
                        font-size: 22px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: right;
                        }
                }
                }
                @media(max-width: 450px) {
                    .yt{
    
                        .yt__allcontainer{
                            grid-template-columns: 340px;
                            .yt__describe{
                                max-width: 340px;
                                font-size: 0.70em;
                            }
                            .yt__iframe{
                            iframe{
                                height: 190px;
                            }}
                        }
                    
                    }
                    .yt__tags{
                        grid-template-columns: repeat(3,auto);
                                max-width: 340px;
                        grid-auto-rows: 40px;
                        padding: 0px;
                        button{
                            
                            background: transparent;
                            font-size: 20px;
                padding-left: 5px;
                padding-right: 5px;
                
                            }
                    }
                    }
