$black: #110D0D;
$blue: #61dafb;
$white: white;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');


.baner{

    height: 330px;
    width: 100%;
    object-fit: cover;
    background-size: contain;
  
    position: relative;
    background-attachment: fixed;
  background-position: 0% 5%;
  background-repeat: no-repeat;
 
  display: flex;
    justify-content: center;
    align-items: center;
}
.baner__title{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,50%);
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
}