@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$black: #0f0f0f;
$blue: #61dafb;
$white: white;
main{
    
    background-color: $black;
}
// Start page
.Start__background{
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  object-fit: cover;
  font-family: 'Abril Fatface', cursive;
  transform: scale(1);
  color: white;
  position: relative;
  transition: all .1s ease;
  overflow: hidden;
  z-index: 2;
  font-weight: 400;
  .Start__signature{
      position: absolute;
      bottom: 15px;
    
      flex-direction: row;
      font-size: 100px;
      display: flex;
      flex-direction: row;
  }
  .Start__column{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 40px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  }
  .Start__signature--up{
    text-transform: uppercase;
  }
  .Start__signature--down{
    font-size: 0.55em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  .Start__logo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  .Start__logoimg{
    height: 150px;
  }
}
.dc{
  position: relative;
  z-index: 999;
  background: chartreuse;
  height: 200px;
  width: 100%;
};
.Start__content{
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .Start__h1{
    display: flex;
    justify-content: center;
    font-size: 55px ;
    padding: 50px;
  }
  .Start__sectiontitle{
    height: 300px;
    font-size: 55px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    transform: translate(20%, 10%) rotateX(
      -180deg
      );
    transition: all .3s ease;
  }
  .Start__onlytitle{
    background-color: rgba(0, 0, 0, 0.74);
    padding: 20px;
  }
  .arrowdown{
    transform: translate(20%, 10%) rotateX(0deg);
  }
  }
  .Start__sectiondescribe{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    iframe{
      width: 700px;
      height: 394px;
    }
    .describe{
      // border-top: 2px solid white;
      // border-bottom: 2px solid white;
      // padding-top: 8px;
      // padding-bottom: 8px;
      text-align: justify;
      font-family: 'Jost';
      font-size: 22px;
      font-weight: 300;
    }
    .iframes{
      
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .swiper-wrapper{
     flex-direction: row;
     display: flex;
      height: 400px;
    }
  }
  .Start__sectionup{
    display: none;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    
    
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
    .iframe{
      height: 400px;
      width: 700px;
      
      
    }
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  width: 50px;
  height: 400px !important;
color: red;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Prefooter{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .Prefooter__text{
    display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  font-size: 50px;
  }
  img{
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
    transform: translate(0px, 20px);



  }
}
@media(max-width:1450px) {
// Start page
.Start__background{
  
.Start__signature{
    
    bottom: 15px;
    font-weight: 600;
    
    font-size: 80px;
    
}
.Start__column{
  
  padding-left: 40px;
}

.Start__signature--down{
  font-size: 0.55em;
  
}
.Start__logo{
  
  padding-bottom: 10px;
}
.Start__logoimg{
  height: 120px;
}
}
.Prefooter{
  padding-top: 40px;
 
  
  .Prefooter__text{
  
  font-size: 40px;
  }
  img{
    height: 110px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Start__content{
  .Start__sectionup .Start__sectiondescribe{
    padding: 40px;
    iframe{
      width: 600px;
      height: 337.45px;
      margin: 40px;
      margin-bottom: 0;
    }
  }
}
.Start__content .Start__sectiondescribe .iframes{
  
}
}
@media(max-width:1200px) {
  // Start page
  .Start__background{
    
  .Start__signature{
      
      bottom: 15px;
      font-weight: 600;
      
      font-size: 60px;
      
  }
  .Start__column{
    
    padding-left: 40px;
  }
  
  .Start__signature--down{
    font-size: 0.55em;
    
  }
  .Start__logo{
    
    padding-bottom: 10px;
  }
  .Start__logoimg{
    height: 100px;
  }
  }
  
  .Start__content{
    .Start__h1{
      font-size: 50px;
    }
    .Start__sectiontitle{
      height: 250px;
      .Start__onlytitle{
        font-size: 0.9em;
        padding: 15px;
        img{
          height: 45px;
        }
      }
    }
  }
  
  .Start__content{
    .Start__sectionup .Start__sectiondescribe{
      padding: 30px;
      iframe{
        width: 600px;
        height: 337.45px;
        margin: 30px
      }
      
    }
    .Start__sectiondescribe .iframes{
      padding-top: 30px;
    }
  }
  .Prefooter{
      
    .Prefooter__text{
    max-width: 350px;
    font-size: 28px;
    }
    img{
      height: 80px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .Start__content .Start__sectiondescribe .iframes{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Start__content .Start__sectiondescribe .iframes{
    padding-top: 30px;
  }
  }
  @media(max-width:900px) {
    // Start page
    .Start__content{
      .Start__sectionup .Start__sectiondescribe{
        padding: 20px;
        .iframes{
          padding-top: 20px;
          iframe{
            margin: 20px;
            margin-bottom: 0;
          }
        }
      }
      .describe{
        line-height: 1.2;
      }
      
    }
    .Start__background{
      
    .Start__signature{
        
        bottom: 5px;
        font-weight: 600;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 50px;
        
    }
    .Start__column{
      
      padding-left: 0px;
    }
    
    .Start__signature--down{
      font-size: 0.55em;
      
    }
    .Start__logo{
      
      padding-bottom: 0px;
    }
    .Start__logoimg{
      height: 90px;
    }
    }
    .Prefooter{
      
      .Prefooter__text{
      max-width: 350px;
      font-size: 28px;
      }
      img{
        height: 80px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .Start__content{
      .Start__h1{
        font-size: 40px;
        text-align: center;
      }
      .Start__sectiontitle{
        height: 220px;
        .Start__onlytitle{
          font-size: 0.85em;
          
          img{
            height: 40px;
          }
        }
      }
    }
    }
  
      @media(max-width:700px) {
      // Start page
      .Start__content .Start__sectionup .Start__sectiondescribe{
        padding: 10px;
        .iframes{
          padding-top: 10px;
          iframe{
            height: 254px;
            width: 450px;
            margin: 10px;
            margin-bottom: 0;
          }
        }
      }
      .Start__background{
        
      .Start__signature{
          
          
          font-size: 40px;
          
      }
      
      
      .Start__signature--down{
        font-size: 0.55em;
        
      }
      .Start__logo{
        
        padding-bottom: 0px;
      }
      .Start__logoimg{
        height: 90px;
      }
      }
      .Prefooter{
        padding-top: 30px;
        
        
        .Prefooter__text{
        max-width: 350px;
        font-size: 26px;
        }
        img{
          height: 50px;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .Start__content{
        .Start__h1{
          font-size: 40px;
        }
        .Start__sectiontitle{
          height: 210px;
          .Start__onlytitle{
            font-size: 0.75em;
            text-align: center;
            padding: 12px;
            img{
              height: 40px;
            }
          }
        }
      }
      }
      @media(max-width:500px) {
        // Start page
        .Start__content .Start__sectionup .Start__sectiondescribe{
          padding: 5px;
          .iframes{
            padding-top: 5px;
            iframe{
              height: 213px;
              width: 380px;
              margin: 5px;
              margin-bottom: 0;
            }
          }
        }
        
        .Start__background{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        .Start__signature{
            position: sticky;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 38px;
            
        }
        
        
        .Start__signature--down{
          font-size: 0.55em;
          
        }
        .Start__logo{
          
          padding-bottom: 0px;
        }
        .Start__logoimg{
          height: 150px;
        }
        }
        .Prefooter{
          padding-top: 20px;
          justify-content: center;
          align-items: flex-end;
          
          .Prefooter__text{
          max-width: 250px;
          font-size: 24px;
          }
          img{
            height: 40px;
            
          }
        }
        .Start__content{
          .Start__h1{
            font-size: 40px;
          }
          .Start__sectiontitle{
            height: 180px;
            .Start__onlytitle{
              font-size: 0.70em;
              padding: 10px;
              img{
                height: 35px;
              }
            }
          }
        }
        }