$black: #0f0f0f;
$blue: #222222;
$white: white;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.Sounds{
    
    .Sounds__grid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: auto;
        margin-top: 40px;
        max-width: 1450px;
        padding-bottom: 40px;
       
        justify-content: space-between;
        
        margin-left: auto;
        margin-right: auto;
        grid-gap: 40px;
        .Sounds__one{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
           position: relative;
           iframe{
               z-index: 9;
               height: 440px;
               width: 440px
           }
            .Sounds__tag{
                display: grid;
                grid-template-columns: repeat(3,33%);
                grid-auto-rows: auto;
                font-size: 0.9em;
                justify-content: center;
                grid-auto-flow: row;
            }
        }
        
}
.Sounds__tags{
    
    transition: opacity 0.3s ease, max-height 0.4s ease;
    opacity: 1;
    max-height: 0px;
    height: 200px;
    background: $black;
    font-size: 0.8em;
    display: none;
    box-sizing: border-box;
    grid-template-columns: repeat(10,auto);
    grid-auto-rows: 40px;
    justify-content: space-between;
    
    grid-gap: 20px;
    color: $white;
    background: $black;
    font-family: 'Jost', sans-serif;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
        
        .activetag{
            color: black;
            background-color: white;
        }
        button{
            
            background: transparent;
            font-size: 24px;
padding-left: 20px;
padding-right: 20px;
            border: none;
            outline: none;
            font-weight: 300;
            font-family: 'Jost', sans-serif;
            cursor: pointer;
            transition: all .3s ease;
            color: white;
            border: 1px solid white;
            span{
                font-size: 0.9em;
                
                padding-left: 5px;
                font-weight: 300;
            }
            
            }
            button:hover{
                color: grey
            }
        
        
        
        

}
}

@media(max-width:1400px) {
    .Sounds{
        .Sounds__tags{
        
            
            grid-template-columns: repeat(8,auto);
            grid-auto-rows: 50px;
            justify-content: space-between;
            max-width: 1200px;
            grid-gap: 20px;
            padding: 15px;
            grid-gap: 10px;
            
            
            
            button{
                
                background: transparent;
                font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
                
                }
            } 
        .Sounds__grid{
            max-width: 1200px;
            grid-gap: 20px;
            .Sounds__one{
        
                iframe{
                    
                    height: 380px;
                    width: 380px
                }}
        }
        
    }
    
    
}
@media(max-width:1250px) {
    .Sounds{
         
        .Sounds__grid{
            max-width: 1200px;
            grid-gap: 40px;
            grid-template-columns: 400px 400px;
            justify-content: space-around;
            .Sounds__one{
                height: 380px;
                width: 380px;
                iframe{
                    
                    height: 380px;
                    width: 380px
                }}
        }
        
    }
    
.Sounds__tags{
        
grid-template-columns: repeat(6,auto);
grid-auto-rows: 50px;
justify-content: space-between;
padding: 20px;
grid-gap: 20px;
}
}
@media(max-width:1000px) {
    .Sounds{
        .Sounds__tags{
            
            
            grid-template-columns: repeat(5,auto);
            grid-auto-rows: 50px;
            justify-content: space-between;
            padding: 20px;
            grid-gap: 20px;
        }   
        .Sounds__grid{
            
            grid-template-columns: 400px ;
            
            
        }
        
    }

}
@media(max-width: 800px) {
    .Sounds{
        .Sounds__tags{
                
            
            grid-template-columns: repeat(4,auto);
            grid-auto-rows: 45px;
            justify-content: space-between;
            padding: 0px;
            
            button{
                
                background: transparent;
                font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
                
                }
        }
    }
    
    }
    @media(max-width: 500px) {
        .Sounds{
            .Sounds__tags{
                grid-template-columns: repeat(3,auto);
                max-width: 380px;
                grid-gap: 10px;
                button{
                        
                    background: transparent;
                    font-size: 22px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
                    
                    }
            }
            .Sounds__grid{
                grid-template-columns: 380px;
                
                .Sounds__one{
                    height: 380px;
                    width: 380px;
                iframe{
                    height: 380px;
                    width: 380px;
                }
            }
            }
        }
        }
        @media(max-width: 450px) {
            .Sounds{
                .Sounds__tags{
                    grid-template-columns: repeat(3,auto);
                    max-width: 340px;
                    grid-gap: 10px;
                    button{
                            
                        
                        font-size: 20px;
            padding-left: 5px;
            padding-right: 5px;
            
                        
                        }
                }
                .Sounds__grid{
                    grid-template-columns: 340px;
                    
                    .Sounds__one{
                        height: 340px;
                        width: 340px;
                    iframe{
                        height: 340px;
                        width: 340px;
                    }
                }
                }
            }
            }