body::-webkit-scrollbar {
    width: 12px;
    background-color: #222222;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    transition: all 3s ease;
    cursor: pointer;
}

.padding {
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s ease;
}
.describealign {
    text-align: justify;
}
.tag {
    cursor: pointer;
}

/* CSS TRANSITION GROUP */
/* appear */
.show-appear {
    opacity: 0.7;
    transform: translateY(-10%);
}
.show-appear-done {
    opacity: 1;
}
/* enter */
.show-enter {
    opacity: 0.7;
    transform: translateY(-10%);
}
.show-enter-done {
    opacity: 1;
    transition: all 300ms ease;
}
/* exit */
.show-exit {
    opacity: 1;
    transition: all 300ms ease;
}
.show-exit-active {
    opacity: 0.7;
    transform: translateY(10%);
    transition: all 300ms ease;
}
.show-exit-done {
    opacity: 0.7;
    transform: translateY(10%);
}
/* MEDIA QUERIES */
@media (max-width: 1400px) {
    .padding {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 1200px) {
    .padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 900px) {
    .padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 700px) {
    .padding {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 500px) {
    .padding {
        padding-left: 5px;
        padding-right: 5px;
    }
}
